#  FilePath: .gitignore

# Ignore plugin-related directories
plugged/
lazy/
lazy-lock.json
lazy-lock.yaml

btop.log.*
# Ignore Neovim cache directories
.cache/
cache/

# Ignore temporary files
*.swp
*.swo
*.swn
*.bak
*.tmp
*.un~
Session.vim

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary and backup directories
/tmp/
temp/
automatic_backups/
debug/
.repro/

# Ignore undo and session-related files
undo/
after/
data/

# Ignore specific files and extensions
tt.*
foo.*
.tests
doc/tags

trial-files
tmux/plugins

